/* You can add global styles to this file, and also import other style files */
@import "bootstrap-grid.scss";


body {
  padding: 0;
  margin: 0;

  font-family: 'Niramit', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

@mixin button-reset {
  padding: 0;

  border: none;
  font: inherit;
  color: inherit;

  background-color: transparent;
  cursor: pointer;
}

.button {
  @include button-reset();

  outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
